@page
@model MailClientRazorPages.Pages.MessageDetailsModel
@{
    ViewData["Title"] = "MessageDetails";
}

<h2>MessageDetails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message.From)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message.From)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message.Body)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./RecentMessage">Back</a>
</div>
